
.carousel-inner .carousel-item img {
    width: 100%;
    height: 400px;
}

.Blog-details {
    background-color: rgb(185, 159, 168);
}

.about {
    margin: 50px;
}

.featurette {
    padding: 25px;
    background: #D3DEDC;
}